.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
capybara*
app/views/layouts/application.html.erb
public/stylesheets/main.css
config/initializers/local.rb
config/initializers/devise.rb
public/images/static_images/*
public/static_pages/*
