<%= link_to "new entry", new_entry_path if( can? :create, Entry ) %>

<% for entry in @entries %>
  <div class="entry">
    <%= format_content( entry.content ) %>
    <div class="entry-footer">
      <%= entry.user.username %> - <%= entry.created_at.strftime( "%m.%d.%Y" ) %>
    </div>
  </div>
<% end %>
