html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  background-color: #333;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

div.input-row {
  overflow: auto;
  width: 100%;
  }

  div.input-row div.input-label {
    width: 200px;
    float: left;
  }

  div.input-row div.input-field {
    float: left;
  }

.not-shown {
  display: none;
}

a:link {
  color: #dd9906;
  text-decoration: none;
}

a:visited {
  color: #dd9906;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

#wrap {
  width: 1100px;
  padding: 0 10px;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  }

  #wrap #header {
    font-size: 9em;
    font-weight: 600;
    position: absolute;
    color: #222;
    z-index: -1;
    }

  #wrap #nav {
    background: #111;
    padding: 5px;
    text-align: right;
  }

  #wrap #main {
    float: left;
    width: 830px;
    padding: 5px;
    }

    #wrap #main .entry {
      margin: 40px 0;
    }

      #wrap #main .entry p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 15px;
        font-weight: 400;
        text-align: justify;
        line-height: 1.5em;
        color: #fff;
      }

      #wrap #main .entry .entry-footer {
        clear: both;
        text-align: right;
        font-size: .8em;
        font-weight: bold;
        color: #d2d0c0;
      }

      #wrap #main .entry .comments {
        margin: 10px 0;
        font-size: .8em;
        color: #888;
        background-color: #444;
        line-height: 1.2em;
        }

        #wrap #main .entry .comments .comment {
          margin: 10px 0;
        }

  #wrap #sidebar {
    float: right;
    width: 200px;
    padding: 0 10px;
  }

    #wrap #sidebar ul li {
      margin: 10px 0;
      }

      #wrap #sidebar ul li a {
        font-size: 1.2em;
      }

  #wrap #footer {
    clear: both;
    font-size: .8em;
    text-align: center;
    font-weight: bold;
  }
