<h1><%= @user.username %></h1>

<%= render( :partial => "exchanges/entry", :collection => @user.exchanges.collect { |exchange| exchange.entries.where( :user_id => @user.id ).first }.sort { |x,y| y.created_at <=> x.created_at } ) %>
