<!DOCTYPE html>
<html>
<head>
  <title>Sayings</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
  <%= javascript_include_tag 'jquery-ujs/src/rails' %>
  <%= javascript_include_tag 'entries' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="notice"><%= flash[:notice] %></div>
<div id="alert"><%= flash[:alert] %></div>
<% if( user_signed_in? ) %>
  <%= link_to 'Logout', destroy_user_session_path %>
<% else %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>

<%= yield %>

</body>
</html>
